@import url("./fonts.css");
.tittleAside {
  font-size: 30px;
  font-family: "Yellowtail-Regular";
  font-weight: 100;
  text-align: center;
  color: #f8f7f7;
  letter-spacing: 1px;
  text-shadow: 0px 7px 9px black;
}

.barlat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  max-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.barlat__menu {
  text-align: center;
  margin: 0;
  padding: 0px;
  list-style: none;
}

.barlat__menu li {
  font-family: "Roboto-regular";
  font-size: 15px;
  padding: 10px 0px;
  color: white;
}

.barlat__menu li a {
  font-family: "Roboto-regular";
  text-decoration: none;
  color: white;
}

.liBarLat:hover {
  font-size: 20px;
  text-shadow: 0px 9px 7px black;
  padding: -10px;
}

.liBarLat:active {
  position: relative;
  top: 2px;
}

.box_asside {
  border: 1px solid #772CD8;
  border-radius: 30px;
  margin: 17%;
  margin-top: 30%;
  padding: 5%;
  background-color: #7510f7;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
}
/*# sourceMappingURL=barlat.css.map */