@import url('./fonts.css');

$mainfont2: "Roboto-regular";
$mainfont: "Yellowtail-Regular";
$mainfont2: "Roboto-regular";
$mainfont3: "Roboto-italic";
$mainfont4: "Roboto-bold";



.tittleAside {
  font-size: 30px;
  font-family: $mainfont;
  font-weight: 100;
  text-align: center;
  color: #f8f7f7;
  letter-spacing: 1px;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 100);
}

.barlat {
  display: flex;
  flex: 0.2;
  max-height: 400px;
  flex-direction: column;
  align-items: flex-end;
  

  &__menu {
    text-align: center;
    margin: 0;
    padding: 0px;
    list-style: none;
  
li{
    font-family: $mainfont2;
    font-size: 15px;
    padding: 10px 0px;
    color: white;
    

    a{
      font-family: $mainfont2;
    text-decoration: none;
    color: white;
   
    



            }
        }
    }
}


.liBarLat:hover{
  font-size: 20px;
  text-shadow:0px 9px 7px rgba(0, 0, 0, 1);
  padding: -10px;
  
}


.liBarLat:active{
  position:relative;
    top:2px;
}

.box_asside{
  border: 1px solid #772CD8;
  border-radius: 30px;
  margin: 17%;
  margin-top: 30%;
  padding: 5%;
  background-color: #7510f7;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
}
