.mainup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  margin: 3% 20%;
  padding: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainup__infoSectionRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto-regular";
  font-size: 20px;
  padding: 0%;
  margin: 2% 10%;
}

.mainup--formContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainup--formContact--prog {
  width: 100%;
  margin: 0;
  padding: 0;
}

.formContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonSend {
  -webkit-box-shadow: inset 0px 1px 0px 0px #9509b1;
          box-shadow: inset 0px 1px 0px 0px #9509b1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #7423de), to(#7c0dbd));
  background: linear-gradient(to bottom, #7423de 5%, #7c0dbd 100%);
  background-color: #7423de;
  border-radius: 6px;
  border: 1px solid #7a11c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}

.buttonSend:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9323de), to(#680dbd));
  background: linear-gradient(to bottom, #9323de 5%, #680dbd 100%);
  background-color: #6523de;
}

.buttonSend:active {
  position: relative;
  top: 2px;
}

.contacts {
  text-align: center;
}

.contacts__info {
  font-size: 20px;
  font-family: "Roboto-bold";
  color: white;
  margin: 5%;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
}

.liNav:hover {
  font-size: 35px;
  text-shadow: 0px 9px 7px black;
  margin: -10px;
}

.liNav:active {
  position: relative;
  top: 2px;
}

.imgWhatsApp {
  width: 40px;
}
/*# sourceMappingURL=contactar.css.map */