$mainfont2: "Roboto-regular";
$mainfont: "Yellowtail-Regular";
$mainfont2: "Roboto-regular";
$mainfont3: "Roboto-italic";
$mainfont4: "Roboto-bold";




.mainup {
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #f7f7f7;
  box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  margin: 3% 20%;
  padding: 2%;
  flex-direction: column;
  align-items: center;

  &__infoSectionRight {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: $mainfont2;
    font-size: 20px;
    padding: 0%;
    margin: 2% 10%;
  }
  &--formContact {
    display: flex;
    align-items: center;
   
     &--prog{
        width: 100%; 
       margin: 0;
       padding: 0;
    
    }
  }

}

.formContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonSend {
	box-shadow:inset 0px 1px 0px 0px #9509b1;
	background:linear-gradient(to bottom, #7423de 5%, #7c0dbd 100%);
	background-color:#7423de;
	border-radius:6px;
	border:1px solid #7a11c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.buttonSend:hover {
	background:linear-gradient(to bottom, #9323de 5%, #680dbd 100%);
	background-color:#6523de;
}
.buttonSend:active {
	position:relative;
	top:2px;
}

.contacts{
    text-align: center;


    &__info{
        font-size: 20px;
        font-family: $mainfont4;
        color:white;
        margin: 5%;
        text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
    }
}

.liNav:hover{
    font-size: 35px;
    text-shadow:0px 9px 7px rgba(0, 0, 0, 1);
    margin: -10px;
  }
  
  .liNav:active{
    position:relative;
      top:2px;
  }

  .imgWhatsApp{
    width: 40px;
  }