@font-face {
    font-family:'Yellowtail-Regular';
    src: url("../../assets/Yellowtail-Regular.ttf");
}
@font-face {
    font-family: 'Roboto-italic';
    src: url('../assets/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('../assets/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../assets/Roboto-Bold.ttf');
}