footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #666666;
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h3 {
  font-family: "Yellowtail-Regular";
  font-weight: 100;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 5% 0%;
}

footer ul {
  padding: 0;
}

footer ul li {
  font-family: "Roboto-bold";
  margin: 5% 0%;
  text-align: center;
  list-style: none;
}

.logosFooter {
  width: 40px;
}

.pFooter {
  font-family: "Roboto-bold";
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  color: white;
}
/*# sourceMappingURL=footer.css.map */