$mainfont2: "Roboto-regular";
$mainfont: "Yellowtail-Regular";
$mainfont2: "Roboto-regular";
$mainfont3: "Roboto-italic";
$mainfont4: "Roboto-bold";

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #666666;
  margin-top: 7%;
  display: flex;
  justify-content: space-evenly;

  h3 {
    font-family: $mainfont;
    font-weight: 100;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 5% 0%;
  }
  ul {
    padding: 0;

    li {
      font-family: $mainfont4;
      margin: 5% 0%;
      text-align: center;
      list-style: none;

  }

}
}
.logosFooter{
  width: 40px;
}
.pFooter{
  font-family: $mainfont4;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  color:white
}