.maindown {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.maindown h3 {
  font-family: "Yellowtail-Regular";
  font-weight: 600;
  color: #772CD8;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  font-size: 30px;
  text-align: center;
  padding: 1% 0%;
}

.maindown ul {
  padding: 0;
}

.maindown li {
  margin: 5% 0%;
  font-family: "Roboto-bold";
  text-align: center;
  list-style: none;
}

.maindown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.maindown__content--dispositivos {
  width: 40%;
}
/*# sourceMappingURL=maindown.css.map */