$mainfont2: "Roboto-regular";
$mainfont: "Yellowtail-Regular";
$mainfont2: "Roboto-regular";
$mainfont3: "Roboto-italic";
$mainfont4: "Roboto-bold";



.maindown {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #f7f7f7;
  box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  align-items: center;
  padding: 2%;

  h3 {
    font-family: $mainfont;
    font-weight: 600;
    color: #772CD8;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);;
    font-size: 30px;
    text-align: center;
    padding: 1% 0%;
  }
  ul {
    padding: 0;
  }
  li {
    margin: 5% 0%;
    font-family: $mainfont4;
    text-align: center;
    list-style: none;
  }
  &__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    &--dispositivos {
        width: 40%;
    }
}
}



