$mainfont2: "Roboto-regular";
$mainfont: "Yellowtail-Regular";
$mainfont2: "Roboto-regular";
$mainfont3: "Roboto-italic";
$mainfont4: "Roboto-bold";




.mainup {
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #f7f7f7;
  box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  margin: 3% 20%;
  padding: 2%;
  flex-direction: column;
  align-items: center;

  &__infoSectionRight {
    
    text-align: center;
    align-items: center;
    font-family: $mainfont2;
    font-size: 20px;
    padding: 0%;
    margin: 2% 10%;
  }
  &__infoSectionLeft {
    
   
     &--prog{
        width: 100%; 
       margin: 0;
       padding: 0;
     }
  }

}

