.mainup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  margin: 3% 20%;
  padding: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainup__infoSectionRight {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto-regular";
  font-size: 20px;
  padding: 0%;
  margin: 2% 10%;
}

.mainup__infoSectionLeft--prog {
  width: 100%;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=mainup.css.map */