body {
  background-image: url("../images/gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7510f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
}

.navbar__tittlePag {
  font-family: "Yellowtail-Regular";
  font-size: 50px;
  margin: 0;
  margin-bottom: 5px;
  margin: 15px;
  color: white;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0px;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__menu li {
  font-family: "Yellowtail-Regular";
  font-size: 30px;
  padding: 20px;
  color: white;
  text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
}

.navbar__menu li a {
  width: auto;
  word-break: break-all;
  text-decoration: none;
  color: white;
}

.liNav:hover {
  font-size: 35px;
  text-shadow: 0px 9px 7px black;
  margin: -10px;
}

.liNav:active {
  position: relative;
  top: 2px;
}
/*# sourceMappingURL=styles_navbar.css.map */