body {
  background-image: url("../images/gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  align-items: center;
  background-color: #7510f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 17px 30px 3px rgba(0, 0, 0, 0.61);
  
  

  &__tittlePag {
    font-family: "Yellowtail-Regular";
    font-size: 50px;
    margin: 0;
    margin-bottom: 5px;
    margin:15px;
    color: white;
    text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
    display: flex;
    flex-wrap: wrap;
  }

  

  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
    list-style: none;
    justify-content: space-around;
    
    

    li {
      font-family: "Yellowtail-Regular";
      font-size: 30px;
      padding: 20px;
      color: white;
      text-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);

      
      a{
        width: auto;
        word-break: break-all;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.liNav:hover{
  font-size: 35px;
  text-shadow:0px 9px 7px rgba(0, 0, 0, 1);
  margin: -10px;
}

.liNav:active{
  position:relative;
	top:2px;
}