.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    flex: 0.8;
    flex-wrap: wrap;   
    /* añadido */
    margin-left:2% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }


