@charset "UTF-8";
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* añadido */
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map */